/**
 * This CSS stylesheet is separated in sections
 */

/**
 * Relative to the map
 */

@keyframes opacityAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.map_title {
  padding-left: 10px;
  padding-right: 10px;
  color: #424242;
  display: flex;
  flex-direction: column;
}

.legend i {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.info {
  padding: 6px 8px;
  font: 14px/16px 'Sensa Sans', sans-serif;
  background: white;
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
}

.map-container {
  flex: 6;
}

#map {
  height: 70vh;
  width: 100%;
  border-radius: 15px;
}

body {
  background-image: url("data/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Sensa Sans', sans-serif;
  padding: 8em;
  padding-top: 2em;
}

h1{
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  color: #454545;
}

h2 {
  font-size: large;
  text-align: center;
  color: #454545;
}

h3 {
  font-size: x-small;
  text-align: left;
  color: black;
}

.main-screen {
  animation: 1s ease-in 0s 1 opacityAppear;
  margin-top: 2em;
  flex-direction: row;
}

#current_year {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5px;
  color: #525252
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background: #919191;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #616060;
  cursor: pointer;
}

/**
 * Relative to the barplots
 */

.modal-content {
  display: block;
  position: relative;
  background-color: #d2d2d4;
  width: 650px;
  height: 600px;
  margin: 0 auto;
}

.modal-header{
  background-color: white;
  width: 650px;
  height: 15px;
}

.modal-body {
  background-color: #d2d2d4;
  width: 650px;
  height: 600px;
}

.modal-footer {
  background-color: white;
  width: 650px;
  height: 15px;
}

.close {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
}

.modal-title {
  font-weight: bold;
}

.axisWhite line {
  stroke: white;
}

.axisWhite path {
  stroke: white;
}

.axisWhite text {fill: white;}

.rotated_label {
  transform: translateY(38px) rotate(-65deg) ;
}

legend {
  font-weight: bold;
}

/**
 * Relative to the ghg counter
 */

.counter_value {
  font-size: 3.5rem;
  font-weight: bolder;
}

.counter_units {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 5px;
}

.counter_title {
  opacity: 0.75;
  font-size: 0.8rem;
}

.counter {
  text-align: left;
}

.help-co2e{
  text-align: left;
  width: 50%;
  align-items: end;
  margin: 0px 0px 0px 700px ;
}

.help-gas{
  text-align: left;
  width: 95%;
  align-items: end;
  margin: -100px 0px 0px 30px ;
}

.help-title{
  font-size: large;
  font-weight: bold;
}
.help-content{
  font-size: small;
}

/**
 * Relative to the navigation bar
 */

.navigation_bar {
  overflow: hidden;
  border-radius: 15px;
}

/* Style the links inside the navigation bar */
.navigation_bar a {
  float: left;
  color: #8a8a8a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 15px;
}

/* Change the color of links on hover */
.navigation_bar a:hover {
  color: yellow;
}

/* Add a color to the active/current link */
.navigation_bar a.active {
  font-weight: 900;
  color: black;
}

/**
 * Relative to the member names
 */

.img_container {list-style: none}
.img_container li {list-style: none; display: inline;}
.img_container img { vertical-align: middle; padding: 5px}

/**
 * Relative to the news page
 */

.single-news .col-4 {
  display: flex;
  align-items: center;
}

.single-news .col-4 img {
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.single-news .col-8 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}

.single-news h2 {
  font-size: 20px;
  margin-bottom: 5px;
}


.single-news .news-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.single-news .news-info small {
  font-size: 14px;
  color: #888;
  margin-right: 10px;
}

.single-news .source-name {
  font-size: 25px;
  color: #D21F3C;
  margin-bottom: 5px;
}

.single-news .author {
  font-size: 20px;
  color: #CD5C5C;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: block;
}

.single-news p {
  margin: 10px 0;
}

.single-news a {
  width: 30%;
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.single-news a:hover {
  background-color: #0056b3;
}

.news-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.single-news {
  width: 100%;
  opacity: 0;
}

.single-news.active {
  opacity: 1;
}

.single-news.fade-out {
  opacity: 0;
}

.error-content {
  display: flex;
  align-items: center;
}

.error-image {
  height: 3em;
  width: auto;
  margin-right: 0.2em;
}

